#comments
   - each comment in comments
      .comment
         .text
            = comment.text
         .author
            = comment.author

if comments.length > 2
   a(href="#the-end") Back to Comment form