head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="description" content="")
  meta(name="author" content="Kristian Mandrup kmandrup")
  block title
  link(href="/css/bootstrap.min.css" rel="stylesheet")
  link(href="/css/agency.css" rel="stylesheet")
  link(href="/css/blog.css" rel="stylesheet")
  link(href="/css/animate.min.css" rel="stylesheet")

  link(rel="stylesheet" href="/highlight/styles/dark.css")
  script(src="/js/moment.js")
  script(src="/js/jquery-1.11.0.js")
  script(src="/js/bootstrap.min.js")
  script(src="/highlight/highlight.pack.js")
  script.
    hljs.initHighlightingOnLoad();

  link(href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css")

  block head

  | <!--[if lt IE 9]>
  | <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  | <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  | <![endif]-->
