nav(class="navbar navbar-default navbar-fixed-top")
  div(class="container")
    div(class="navbar-header page-scroll")
      button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
        span(class="sr-only") Toggle navigation
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")

      a(href="https://twitter.com/kmandrup")
        i.fa.fa-twitter
      a(class="navbar-brand page-scroll" href="#page-top") Surfing on the Bleeding Edge


    div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
      ul(class="nav navbar-nav navbar-right")
        li(class="hidden")
          a(href="#page-top")
        li
          a(class="page-scroll" href="/posts") All posts
        li
          a(class="page-scroll" href="/index.html") Home
