form#new-comment(action="/comment/new" method="post")
   input#postId(type='hidden' value='#{post.id}')
   .author
      input#comment-author(placeholder="Name")
   .text
      textarea#comment-text(placeholder="Comment")
   .submit
      button#comment-submit.btn.btn-primary(type='submit') Submit

//script(src="/js/convert-to-links.js")
script(src="/js/new-comment.js")
script(src="/js/comments.js")
